<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/vite.svg" />typical comment layoutcomment 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tier-list</title>
    <script type="module" crossorigin src="/static/assets/index-CEegr1s6.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-CoVxk5mt.css">
  </head>
  <body>
    <script>
      window.currentlist = {{current_list|tojson if current_list else 'null'}}
    </script>
    <div id="root"></div>

    <!-- Action Bar Section -->
    <div class="action-bar">
      <!-- Placeholder button -->
      <button disabled>Subscribe</button>
      <!-- Active button(s) -->
      <form method="POST" style="display:inline;">
        <button type="submit" name="action" value="like" class="like-button">
          {% if liked %}
            ❤️
          {% else %}
            🤍
          {% endif %}
          <span class="likes-count">{{likes}}</span>
        </button>
      </form>
      <!-- Additional Placeholder buttons -->
      <button disabled>Share</button>
      <button disabled>Download</button>
      <!-- Views counter -->
      <span class="views-count">Views: {{views}}</span>
    </div>

    <!-- Comments Section  -->
    <div class="comments">
      <h2>Comments</h2>
      <form method="POST">
        <textarea name="comment-input" placeholder="Add a new comment"></textarea>
        <button type="submit" name="action" value="comment">Send</button>
      </form>

      <div class="comments-preview">
        {% for comment in comments %}
          <div class="comment">
            <p class="comment-author">
              <strong>{{ comment.user }}</strong> ({{ comment.time.strftime("%Y-%m-%d %H:%M") }})
            </p>
            <p class="comment-body"> {{ comment.content }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
