{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %} 
    <main id = "reg-main"> <!--reusing the same CSS from reg, because it is the same for main-->
        <form method="POST" action="" class = "log-form">
             {{form.hidden_tag()}}
             <div class="log-form-head">
                <h1>Log In</h1>
             </div>
             <div class="errors">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p id = "err">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p id = "err">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="log-form-div {{'has-error' if form.email.errors else ''}}">
                <p>Email</p>
                {{form.email}}
            </div>
            <div class="log-form-div">
                <p>Password</p>
                {{form.password}}
                <a href = "{{ url_for('recovery') }}">Forgot your password?</a>
            </div>
           <div class="log-form-submit">
                {{form.submit}}
                <a href = "{{ url_for('register') }}">Don't have an account? Sign up here!</a>
           </div>
        </form>
    </main>
{% endblock %}