{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
    <!--no need for header here, since the entire page will be one giant form block-->
    <main id = "reg-main">
        <form method = "POST" action = "" class = "reg-form">
            {{form.hidden_tag()}}
            <h1>Sign Up</h1>
            <div class = "reg-form-div">
                {{form.email}}
            </div>
            <div class = "reg-form-div">
                {{form.username}}
            </div>
            <div class = "reg-form-div">
                {{form.password}}
            </div>
            <div class = "reg-form-submit">
                {{form.submit}}
                <a href = "{{url_for('login')}}">Already have an account? Sign in</a>
            </div>
        </form>
    </main>
{% endblock %}